# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json

# Build outputs
dist/
build/
public/build/

# Hardhat
cache/
artifacts/
typechain/
coverage/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Misc
*.log
